{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section style="position: absolute; top: 0; margin-right: 360px">
<section class="conference">
<h1>{{conference}}</h1>
<div class="location">{{conference.location}}</div>

{{conference.description|safe|escape}}
<h2>Metadata</h2>
{{conference.metadata|safe|escape}}
<div><a href="{{conference.link_url}}">Event homepage</a></div>
</section>
</section>

<section style="float: right; padding-top: 20px">
{% for slot in slots %}
{% include 'snippet_slot.html' %}
{% endfor %}
</section>
<section style="clear: both">
	&nbsp;
</section>


{% endblock %}