{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section>
<h2>{{slot.title}}</h2>
<p class="presenters">
{% for p in slot.presenter.all %}
<a href="{% url 'presenter' p.slug %}">{{p.name}}</a>{% if not forloop.last %} & {% endif %}
{% endfor %}
</p>
<p class="conference-year"><a href="{% url 'year' slot.conference.year %}">{{slot.conference}}</a></p>
</section>


<section class="media">
	{% if slot.youtube_link %}
	<iframe width="560" height="315" src="https://www.youtube.com/embed/{{slot.youtube_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	{% endif %}
	{% if slot.mp3_link %}
	<p><a href="{{slot.mp3_link}}">mp3 download</a></p>
	{% endif %}
	<p>Length: {{slot.length}} minutes</p>
	<p>{{slot.description}}</p>

	<h3>Tagged with: </h3>
	<ul class="tags">
			{% for tag in slot.tags.all %}
	<li><a href="{% url 'tag' tag.name %}">{{tag.name}}</a></li>
	{% endfor %}
	</ul>
</section>

{% comment %}
<section>
	<h2>Quotes</h2>
</section>
{% endcomment %}

<section>
	<h2>Description</h2>
	{{slot.description|linebreaksbr}}
</section>

<section>
	<h2>Transcript</h2>
	{{slot.transcript|linebreaksbr}}
</section>

<section>
	<h2>Synopsis</h2>
	{{slot.synopsis|linebreaksbr}}
</section>


{% endblock %}