<section class="slot year-{{slot.conference.year}}" style="background: rgba(0,0,0,0.1);">
<h2><a href="{% url 'slot' slot.conference.year slot.slug%}">{{slot.title}}</a></h2>
<p class="presenters">
{% for p in slot.presenter.all %}
<a href="{% url 'presenter' p.slug %}">{{p.name}}</a>{% if not forloop.last %} & {% endif %}
{% endfor %}
</p>
<!-- <p class="abstract">{{slot.abstract}}</p> -->
{% if slot.tags.all|length > 0%}
<div class="tags">
	<ul>
		{% for tag in slot.tags.all %}
		<li><a href="{% url 'tag' tag.name %}">{{tag.name}}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}
</section>