			html,body { margin: 0; padding: 0; font-family: Helvetica, Arial; color: #333; line-height: 150%; text-align: center;  }
			ul { list-style: none; padding: 0; margin: 0 }
			li { padding: 0; margin: 0 }
			
			section { padding: 0; }

			header { padding: 10px; text-align: left; background: linear-gradient(to bottom,#666 0,#333 100%); color: #fff; }
			header a { color: #fff; text-decoration: none; }
			.mlogo { width: 60px; vertical-align: middle; padding-right: 15px;}


			main { max-width: 1250px; margin: 0 auto; text-align: left; position: relative;}
			nav { position: absolute; top: 10px; right: 20px; }
			nav ul li { display: inline; padding: 0 5px; }
			nav ul { text-align: right; }

			footer section {
				background-color: #333;
				color: #dedede;
				text-align: left;
			}
			footer .counts { font-size: 22px; margin: 0; line-height: 28px }
			footer section #past-conferences { width: 25%; float: left; }
			footer section ul li a { display: block;  }
			footer section a, footer section a:active, footer section a:focus, footer section a:visited { color: #dedede; text-decoration: none; width: auto; }
			footer section a:hover { background-color: #ccc; color: #333; }
			footer section #tags { width: 75%; float: right; }

			footer section  #tags {
			    column-count: 5;
			    column-gap: 0px;
			}
			footer section ul li a, footer  p, section footer h2 { padding: 0 20px; line-height: 35px; }
			footer section p { padding: 1em 20px; }
			.breadcrumbs { font-size: 80%; font-weight: bold; color: #666; padding: 20px 0; }

			#content { padding: 0 20px; }
			.conference { padding-right: 20px; }
			.conference h1 { font-size: 60px; padding: 20px 0 0 0; margin: 0; line-height: 80px; }
			.location { font-weight: bold; color: #555; font-size: 12px; text-transform: uppercase; }

			section.slot { min-width: 350px; height: 197px; }


			.slot, .media  { margin-bottom: 15px;}
			.slot h2 { font-size: 18px; margin: 0; padding: 5px 10px 0 10px; }
			.slot p { margin: 0; padding: 0; }

			.slot .presenters { font-weight: bold; color: #555; font-size: 12px; text-transform: uppercase; padding: 0 10px; }
			.slot .abstract { padding: 10px 0; font-size: 14px; }
			.slot { position: relative;}
			.slot h2 a, .slot h2 a:visited { color: #333; }
			.tags li { line-height: 2em; }
			.tags li a, .tags li a:visited, .tags li a:active, .tags li a:focus { color: #fff; text-decoration: none; background-color: #333; padding: 3px 7px; border-radius: 5px;} 

			.tags li a:hover { background-color: #666; }
			.tags li { display: inline }

			.slot .tags { position: absolute; bottom: 0px; left: 0px; background: rgba(0,0,0,.25); width: 100%; }
			.slot .tags ul { padding: 10px 20px }

			/*
			.year-2017 .tags li a, .year-2017 .tags li a:visited, .year-2017 .tags li a:active, .year-2017 .tags li a:focus {
				background-color: #c1ffc8; color: #000; 
			}
			.year-2017 .tags li a:hover { background-color: #73d27e; color: #fff;}

			.year-2018 .tags li a, .year-2018 .tags li a:visited, .year-2018 .tags li a:active, .year-2018 .tags li a:focus {
				background-color: #bd3bdd; color: #fff; 
			}
			.year-2018 .tags li a:hover { background-color: #7c26c1; color: #fff;}
			*/